body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.badge-blue {
  background-color: #0C4569;
}

.badge-red {
  background-color: #8C181D;
}

.badge-purple {
  background-color: #551387;
}

.badge-orange {
  background-color: #ff9b00;
}

.badge-green {
  background-color: #3c7814;
}

.submission {
  background-color: #efde94
}

.approval {
  background-color: #d4e59f;
}

.prioritized {
  background-color: #bceab4;
}

.committed {
  background-color: #b0eace;
}

.userValidation {
  background-color: #b6e7e4;
}

.implemented {
  background-color: #cee0f1;
}